<div style="padding: 100px 50px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Detalhe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoasArray">
        <th scope="row">{{ pessoa?.id }}</th>
        <td>{{ pessoa?.name }}</td>
        <td>{{ pessoa?.email }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleGetPessoaId(pessoa.id)"
          >
            Detalhe
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    *ngIf="detalhePessoa"
    style="
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <div>
      <h1>Detalhe da Pessoa</h1>
      <app-pessoas-detalhe
        [pessoa]="pessoaId"
        (atualizaPessoa)="handleAtualizaPessoa($event)"
      ></app-pessoas-detalhe>
    </div>
  </div>
</div>
