<div
  style="
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    font-size: 24px;
  "
  (atualiza)="receberEnderecoAtualizado($event)"
>
  <div style="margin-bottom: 30px;">
    <div ng-bind="evento">Evento: {{ evento.name }}</div>
    <div>Data: {{ evento.date }}</div>
    <div>Hora: {{ evento.time }}</div>
    <div>Endereço: {{ evento.location.address }}</div>
    <div>Cidade: {{ evento.location.city }}</div>
    <div>País: {{ evento.location.country }}</div>
  </div>

  <h2>Eventos</h2>
  <ul class="eventos">
    <li
      *ngFor="let evento of eventos"
      style="margin-bottom: 30px; border-bottom: 1px solid #000; padding: 30px;"
    >
      <p class="badge" style="font-size: 26px; font-weight: bold;">
        {{ evento?.name }}
      </p>
      <app-datas [datas]="evento?.date"></app-datas>
      <p>{{ evento?.time }}</p>
      <div *ngIf="evento.location">
        <app-endereco
          [endereco]="evento.location"
          (atualizaEndereco)="receberEnderecoAtualizado($event)"
        ></app-endereco>
      </div>
      <span *ngIf="evento.onlineUrl" style="font-weight: bold;"
        >Evento Online</span
      >
    </li>
  </ul>
</div>
